/*! Place your custom styles here */
a.payment-option, a.payment-option:hover {
    text-decoration: none;
}

a.payment-option .pricing:hover {
    background: rgba(200,200,240,0.3);
    transition: 500ms;
}

html {
    scroll-behavior: smooth;
}
